<link rel="stylesheet" href="/css/search-styles.css">
<form method="POST" action="/search">
    <input type="text" name="qstring" >
    <button class="new-button" type="submit">Search</button>
</form>
