
<div class="lol404-errors">
  <h3>404</h3>
</div>

<div class="nav-bar" id="myHeader">
  <nav>
    <div class="nav-links">
      <p class="nav-btn names" href="#name">Jeremy James</p>
      <a class="nav-btn" href="#home"> Home </a>
      <a class="nav-btn" href="https://github.com/Perzival1312"> Github </a>
      <a class="nav-btn" href="#lorum"> Lorum </a>
      <a class="nav-btn" href="#ipsum"> Ipsum </a>
      <a class="nav-btn" href="#more"> More </a>
      <a class="nav-btn" href="#stuff"> Stuff </a>
    </div>
  </nav>
</div>

<div class="texts">
  <h1>Under Construction</h1>
  <p>Sorry! :(</p>
</div>

<div class="p-container">
  <h2>Cool stuff I done did!</h2>
  <div class="projects">
      <img class="p1i" src="https://via.placeholder.com/200" alt="PlaceHOLDER!">
      <p class="p1d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor urna nunc id cursus metus aliquam eleifend mi in. A scelerisque purus semper eget duis at tellus at urna. Faucibus interdum posuere lorem ipsum dolor sit amet. Commodo ullamcorper a lacus vestibulum sed arcu non odio. Iaculis eu non diam phasellus vestibulum lorem. Arcu ac tortor dignissim convallis aenean et.</p>
      <img class="p2i" src="https://via.placeholder.com/200" alt="PlaceHOLDER!2">
      <p class="p2d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor urna nunc id cursus metus aliquam eleifend mi in. A scelerisque purus semper eget duis at tellus at urna. Faucibus interdum posuere lorem ipsum dolor sit amet. Commodo ullamcorper a lacus vestibulum sed arcu non odio. Iaculis eu non diam phasellus vestibulum lorem. Arcu ac tortor dignissim convallis aenean et.</p>
      <img class="p3i" src="https://via.placeholder.com/200" alt="PlaceHOLDER!3">
      <p class="p3d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor urna nunc id cursus metus aliquam eleifend mi in. A scelerisque purus semper eget duis at tellus at urna. Faucibus interdum posuere lorem ipsum dolor sit amet. Commodo ullamcorper a lacus vestibulum sed arcu non odio. Iaculis eu non diam phasellus vestibulum lorem. Arcu ac tortor dignissim convallis aenean et.</p>
      <img class="p4i" src="https://via.placeholder.com/200" alt="PlaceHOLDER!4">
      <p class="p4d">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor urna nunc id cursus metus aliquam eleifend mi in. A scelerisque purus semper eget duis at tellus at urna. Faucibus interdum posuere lorem ipsum dolor sit amet. Commodo ullamcorper a lacus vestibulum sed arcu non odio. Iaculis eu non diam phasellus vestibulum lorem. Arcu ac tortor dignissim convallis aenean et.</p>
    </div>
  </div>

  <div class="footer">
    <div class="info-container">
      <div class="external-links">
        <p>stuff</p>
      </div>
      <div class="contact">
        <p>more stuff</p>
      </div>
    </div>
  </div>
